@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@700&family=Montserrat:wght@100;200;300;400;500;600;800;900&family=Nunito:ital,wght@1,800&family=Roboto:wght@700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

body {
    background-color: #101932;
}

header {
    max-width: 1740px;
    margin: 25px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header * {
    color: white;
}

.logo span {
    font-family: 'Nunito', sans-serif;
    color: white;
    font-size: 25px;
    font-weight: 800;
}

.logo img {
    margin-right: 14px;
}

.logo-text-red {
    color: #E11D2E !important;
}

.logo {
    display: flex;
    align-items: center;
}

.header-right-link-wrap {
    display: flex;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right-link-wrap p {
    margin-left: 25px;
    font-weight: 600;
    font-size: 14px;
    position: relative;
}

.header-right-link-wrap p::after {
    position: absolute;
    content: "";
    width: 0%;
    height: 4px;
    background-color: #ff0000;
    left: 50%;
    bottom: -10px;
    border-radius: 100px;
    transition: all 0.3s ease-in-out;
}

.header-right-link-wrap p:hover {
    cursor: pointer;
}

.header-right-link-wrap p:hover::after {
    cursor: pointer;
    width: 100%;
    left: 0;
}

.header-right button {
    margin-left: 70px;
    height: 40px;
    padding: 0 30px;
    background-color: #AC1216;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
}

.page-1 {
    position: relative;
    margin-bottom: 100px;
}

.dot {
    position: absolute;
    left: -29.04px;
    top: -87px;
    width: 350px;
    height: 350px;
    background-color: red;
    border-radius: 50%;
    filter: blur(100px);
    opacity: 0.3;
    z-index: -1;
}

/* -------------------------------------------- */


.page-1 .container2 {
    position: relative;
    padding-bottom: 100px;
    padding-top: 100px;
}

.colum {
    margin: 0 auto;
    max-width: 1740px;
    color: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 129px;
}

.colum-left {
    max-width: 850px;
}

.colum-left h1 {
    font-style: normal;
    font-size: 80px;
    max-width: 800px;
    max-width: fit-content;

}

.colum-left-text-red {
    color: #E11D2E;
    font-weight: 800;
    font-size: 80px;
    line-height: 90px;
}

.colum-left p {
    color: #71768E;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 40px;
}

.colum-left h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    align-items: center;

    color: #A0A3B5;
    margin-bottom: 46px;
}

.colum-left-btn {
    display: flex;
    align-items: center;
}

.colum-left-btn button:nth-child(1) {
    width: 295px;
    height: 80px;
    background: #E11D2E;
    border-radius: 10px;
    border: none;
    font-size: 25px;
    margin-right: 25px;
    color: #fff;
    font-size: 25px;
}

.colum-left-btn button:nth-child(2) {
    width: 379px;
    height: 80px;
    background: #ffffff0d;
    border-radius: 10px;
    border: none;
    font-size: 25px;
    color: #fff;
    font-size: 20px;
}

.contract {
    padding: 5px 30px;
    width: 699px;
    height: 75px;
    border: 1px solid #ffffff17;
    border-radius: 10px;
    margin-top: 20px;
}

.contract p {
    font-size: 15px;
    font-weight: 400;
}

.contract p span {
    font-size: 25px;
    font-weight: 400;
}

.colum-rigth {
    position: relative;
    width: 890px;
    height: 638.2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.romb {
    position: absolute;
    left: 72%;
    top: 10%;
}

.romb-blue {
    position: absolute;
    left: 85%;
    top: 45%;
}

.romb-red {
    position: absolute;
    left: 3%;
    top: 30%;
}

.circle01 {
    position: absolute;
    width: 693.3px;
    height: 694px;
    left: 0px;
    top: -80px;

    background: radial-gradient(33.58% 33.57% at 50% 50%, rgba(225, 29, 46, 0.5) 0%, rgba(255, 81, 96, 0.155) 100%);
    filter: blur(100px);
    border-radius: 1000px;
    z-index: -1;
}

.circle02 {
    position: absolute;
    Width: 401.74px;
    Height: 422.25px;
    top: 0;
    left: 40%;
    z-index: -3;
    background: #2424EB;
    opacity: 0.4;
    filter: blur(100px);
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.circle03 {
    position: absolute;
    width: 295.7px;
    height: 296px;
    left: 500px;
    top: 0;
    z-index: -2;
    background: radial-gradient(34.94% 34.94% at 50% 50%, #E11D2E 0%, #ff516094 100%);
    filter: blur(100px);
    border-radius: 1000px;
}

.circle04 {
    background: radial-gradient(#E11D2E, #FF5160);
    width: 122.88px;
    height: 123px;
    filter: blur(60px);
    border-radius: 1000px;
    position: absolute;
    top: 500px;
    left: 700px;
    z-index: -2;
}


.line-war {
    width: 100%;
    height: 38px;
    background: #5A4039;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.line-war span {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #fff50099;
    margin: 0 15px;
}

.warning {
    color: #fff50099;
    font-weight: 600;
    font-size: 13px;
}

.circle10 {
    position: absolute;
    width: 422.58px;
    height: 423px;
    left: -73px;
    top: 438px;
    background: radial-gradient(34.94% 34.94% at 50% 50%, #E11D2E 0%, rgba(255, 81, 96, 0.58) 100%);
    z-index: -2;
    opacity: 0.4;
    filter: blur(100px);
    border-radius: 1000px
}


/* --------------------------------------------- */

.container {
    max-width: 1740px;
    margin: 0 auto;
    margin-top: 50px;
}

.wrap {
    position: relative;
    padding-bottom: 70px;
}

.partners-wrap {
    display: flex;
    justify-content: center;
    max-width: 1740px;
}

.partner {
    margin: 0 5px;
    filter: grayscale(100%);
    opacity: 0.2;
}

.vector {
    position: absolute;
    top: 38px;
    left: 16px;
    filter: invert(50%);
}


.planet-img {
    width: 350px;
    height: 320px;
    background-image: url(../img/planet.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 5;
}

.web-wrap {
    width: fit-content;
    margin: 66px auto;
    position: relative;
}

.web-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.circle {
    background-color: #143D85;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translate(-50%, -50%);
}

.circle-1 {
    width: 950px;
    height: 950px;
    opacity: 0.05;
}

.circle-2 {
    width: 750px;
    height: 750px;
    opacity: 0.1;
}

.circle-3 {
    width: 550px;
    height: 550px;
    opacity: 0.15;
}

.circle-blue {
    position: absolute;
    width: 108px;
    height: 108px;
    left: 500px;
    top: -30px;

    background: #0096F2;
    opacity: .2;
    border-radius: 201.5px;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle-blue-mini {
    background: #0096F2;
    border-radius: 100px;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 530px;
    top: -1px;
}

.circle-yellow {
    position: absolute;
    width: 108px;
    height: 108px;
    background: #FF9429;
    opacity: 0.2;
    border-radius: 100px;
    top: 170%;
    left: 100%;
}

.circle-yellow-mini {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #FF9429;
    border-radius: 100px;
    top: 179.5%;
    left: 108.5%;
}

.circle-red {
    position: absolute;
    top: 45%;
    left: 25%;
    width: 108px;
    height: 108px;
    background: #E11D2E;
    opacity: 0.2;
    border-radius: 100px;
}

.circle-red-mini {
    position: absolute;
    top: 48.7%;
    left: 26.7%;
    width: 50px;
    height: 50px;
    background: #E11D2E;
    border-radius: 100px;
}

.cub {
    position: absolute;
    top: 110px;
    left: -220px;
}

.wrap button {
    box-sizing: border-box;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 45px 15px;
    gap: 15px;

    width: 215px;
    height: 77px;

    background: #E11D2E;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
}

.wrap-text {
    opacity: .9;
    max-width: 700px;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wrap h1 {
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    color: #FFFFFF;
}

.wrap-text h1 {
    text-align: center;
    margin-top: 33px;
}

.youtube {
    position: absolute;
    left: 110%;
    top: 135%;
}

/* -------------------------------------------------- */


.wrap-works {
    padding: 0 50px;
    max-width: 1740px;
    margin: 0 auto;
    padding-top: 50px;
    height: fit-content;
    padding-bottom: 159px;
}

.wrap-works h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 50px;
}

.works {
    display: flex;
    gap: 68px;
}


.spidership {
    position: relative;
    background: #384D70;
    border-radius: 20px;
    width: 496px;
    height: fit-content;
    padding: 30px 35px 40px 40px;
    gap: 30px;
}

.block-red {
    background: #EA0B1E;
    border-radius: 20px;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .2;
    margin-bottom: 30px;
}


.block-red-mini {
    position: absolute;
    top: 55px;
    left: 65px;
    width: 70px;
    height: 70px;
    background: #E11D2E;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spidership-text {
    color: #ffffff;
}

.spidership-text h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 10px;
}

.spidership-text span {
    opacity: 0.3;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px;
    display: block;
}

.spidership-text p {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    color: #ffffffb3;
}

.many {
    width: 496px;
    height: fit-content;
    background: #384D70;
    padding: 30px 35px 40px 40px;
    border-radius: 20px;
    position: relative;
}

.block-yellow {
    width: 120px;
    height: 120px;
    background: #FF9429;
    opacity: 0.1;
    border-radius: 20px;
    margin-bottom: 30px;
}

.block-yellow-mini {
    width: 70px;
    height: 70px;
    background: #FF9429;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 55px;
    left: 65px;
}

.many h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 42px;
    color: #FFFFFF;
}

/* ---------------------------------------------- */


.container4 {
    padding-bottom: 175px;
}

.play-to-earn {
    max-width: 1740px;
    margin: 0 auto;
    padding-top: 50px;
    height: fit-content;
}

.play-to-earn h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 10px;
}

.play-to-earn span {
    font-weight: 400;
    font-size: 25px;
    line-height: 42px;
    color: #FFFFFF;
    opacity: 0.5;
    display: flex;
    justify-content: center;
}

.game-block {
    margin-top: 50px;
}

.Game-plot-and-goal {
    background: #071022;
    border-radius: 30px;
    max-width: fit-content;
    min-height: 384px;
    padding: 36px 50px 60px 50px;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 50px;

}

.Game-plot-and-goal-left-img img {
    border-radius: 30px;
    opacity: .5;
    overflow: hidden;
}

.kashchei {
    position: absolute;
    top: 39px;
    left: 432px;
    z-index: 1;
}

.spider {
    position: absolute;
    top: 36px;
    left: 417px;
}

.teddy2 {
    position: absolute;
    top: 54px;
    left: 50px;
}

.Game-plot-and-goal-text {
    margin-left: 45px;
}

.Game-plot-and-goal-text h2 {
    font-size: 30px;
    Line-height: 100%;
    Font-style: Bold;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.Game-plot-and-goal-text p {
    Font-style: Regular;
    Font-size: 24px;
    Line-height: 100%;
    color: #ffffff99;
}

.Earn-that-cash {
    padding: 36px 64px 35px 30px;
    display: flex;
}

.Earn-that-cash {
    max-width: 847px;
    min-height: 231px;
    background: #FF9429;
    border-radius: 30px;
}

.container-coin {
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Earn-that-cash h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.Earn-that-cash p {
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: #FFFFFF;
    opacity: 0.8;
}

.game01 {
    background: #067CCB;
    border-radius: 30px;
}

.block-2 {
    display: flex;
    gap: 40px;
}

/* ---------------------------------------- */


.container5 {
    max-width: 100%;
    background: #30298C;
    opacity: .9;
}

.colum01 {
    position: relative;
    padding: 150px 0;
    max-width: 1740px;
    height: 662px;
    margin: 0 auto;
    display: flex;

}

.colum01-left {
    margin-right: 188px;
}

.colum01-left h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
}

.colum01-left span {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.6;
    margin: 20px 0 40px 0;
    display: block;
}

.colum01-left button {
    background: #E11D2E;
    border-radius: 10px;
    width: 404px;
    height: 80px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    text-align: center;
    border: none;
    padding: 25px 30px;
}

.colum01-right {
    width: fit-content;
    height: fit-content;
    margin-bottom: 50px;
}

.colum01-right-top {
    display: flex;
}

.union {
    width: fit-content;
    background-image: url(../img/Union.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    height: fit-content;
    margin-right: 21px;
}

.colum01-right-top-text h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.colum01-right-top-text p {
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    color: #FFFFFF;
    opacity: 0.8;
}

.union2 {
    background-image: none;
}

.star {
    position: absolute;
    top: 23px;
    left: 565px;
}

.spider2 {
    position: absolute;
    top: -330px;
    left: -130px;
    z-index: -1;
    opacity: 0.08;
}

/* ------------------------------------------------ */


.Roadmap {
    max-width: 1740px;
    margin: 0 auto;
    padding-top: 70px;
    height: fit-content;
    position: relative;
}

.Roadmap h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 50px;
}

.block-Roadmap::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 1687px;
    top: 200px;
    transform: translateY(100px);
    background-color: rgba(56, 77, 112, 1);
    left: calc(50% - 1px);
    border: none;
}

.block-Roadmap::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 340px;
    transform: translateY(100px);
    background-color: red;
    left: calc(50% - 1px);
    z-index: 1;
}

.August {
    position: relative;
    max-width: 792px;
    min-height: 216px;
    background: #384d7033;
    border: 1px solid #ffffff1a;
    border-radius: 30px;
    padding: 35px 30px;
    display: flex;
}

.August-left {
    margin-right: 30px;
}

.block-number-1 {
    width: 138px;
    height: 146px;
    background: #384D70;
    opacity: 0.2;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block-number-1 span {
    font-weight: 700;
    font-size: 65px;
    line-height: 78px;
    color: #FFFFFF;
    font-family: none;
    font-family: 'Hind Siliguri', sans-serif;
}

.August-right-text h2 {
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.August-right-text span {
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
}

.dot01 {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 6px);
    top: 100px;
    left: 109.2%;
    z-index: 2;
    background: #FF0000;
    border: 2px solid #ffffff80;
}

.boss {
    margin-bottom: 60px;
}

.boss2 {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 60px;
}

.august2 {
    width: 792px;
}

.dot02 {
    position: absolute;
    width: 12px;
    height: 12px;
    background: #FF0000;
    border: 2px solid #ffffff80;
    border-radius: 50%;
    top: 150px;
    left: -85px;
}


.container6 {
    padding-bottom: 50px;
}


/* ------------------------------------------- */


.wrapper {
    background: #162344;
}

.item {
    max-width: 1740px;
    margin: 0 auto;
    padding-top: 70px;
    min-height: fit-content;
    display: block;
    padding-bottom: 140px;
}

.item h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 60px;
}

.team-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 140px;
}

.man {
    max-width: fit-content;
    min-height: fit-content;
}

.man img {
    margin-bottom: 20px;
}

.man h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 13px;
    display: block;
}

.man h3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    opacity: 0.6;
    text-align: center;
}

.Partners-Investors p {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 40px;
}

.partner1 img {
    margin: 0 20px;
    max-width: fit-content;
}

/* ------------------------------------- */

.item2 {
    background: #10193299;
    width: 100%;
}

.colum05 {
    position: relative;
    max-width: 1740px;
    margin: 0 auto;
    padding-top: 73px;
    height: fit-content;
    padding-bottom: 150px;
}

.colum05 h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 45px;
}

.tokens {
    display: flex;
    align-items: center;
    max-width: 1036px;
    height: 75px;
    background: #384D70;
    border-radius: 15px;
    cursor: pointer;
    justify-content: space-between;
    padding: 0 35px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.tokens span {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.react {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #E11D2E;
    cursor: pointer;
}

.react span {
    color: #fff;
    font-size: 30px;
}

.world {
    position: absolute;
    top: 200px;
    left: 280px;
    z-index: 0;
    opacity: .2;
}

/* ---------------------------------------- */

.Community {
    position: relative;
    max-width: 1740px;
    margin: 0 auto;
    padding-top: 60px;
    height: fit-content;
    padding-bottom: 185px;
}

.Community h1 {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 110px;
}

.cell-network {
    display: flex;
    gap: 40px;
    margin: 0 auto;
    max-width: fit-content;
    margin-bottom: 170px;
}

.telegram {
    width: 108px;
    height: 108px;
    background: #E11D2E;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.Community img {
    margin: 0 auto;
    display: block;
}

/* ------------------------------------ */

footer {
    padding: 40px 0;
}


footer p {
    text-align: center;
    line-height: 24px;
    opacity: 0.4;
}

footer p a {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
}

::-webkit-scrollbar {
    width: 20px;
}


::-webkit-scrollbar-track {
     -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #1a1a8372;
    border-radius: 10px;
}


::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #00c6fb, #005bea);
}